h2.story-title {
	white-space: normal;
	height: 3.6em;
}
#logo-header{
	width: 123px;
	height: 43px;
	margin-top: 2%;
	margin-bottom: 1%;
	float: right;

}
.title{
	height: 70px !important;
	text-align: center;

}
.bar{
	height: 70px !important;
}
.has-header {
    top: 70px !important;
}
.scroll {
    height: 100%;
}
 
#map {
    width: 90%;
    height: 85%;
    margin: 0 auto;
    margin-top: 2%;
}
#buttons-share{
	width: 90%;
	margin: 0 auto;
	margin-top:1%;
}
.twitter-color{
    background-color: #1da1f2;
    color: white;
}
.facebook-color{
	background-color: #4e69a2;
	color: white;
}
